@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans&family=Petit+Formal+Script&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}
header{
    background-color: #0a0a0a;
}
nav{
    padding: 15px 100px;
}
header nav ul{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
.ham{
    display: none;
}
nav ul li a{
    color:  #f5f5f7;
    font-size: 13px;
    text-decoration: none;
}
/* !main */
.nav{
    background-color: #1d1d1f;
    text-align: center;
    color: #fff;
    padding: 15px 30px;
}
.nav p{
    font-size: 14px;
}
.nav p a{
    color: rgb(41, 151, 255);
    text-decoration: none;
}
.main{
    padding: 50px;
    text-align: center;
    height: 100vh;
    background-image: url(apple1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 15px solid #fff;
}
.main h1 a{
    color: #fff;
    font-size: 3.5rem;
    text-decoration: none;
}
.main p{
    color: #fff;
    font-size: 2rem;
    margin: 5px;
}
.links{
    margin: 15px;
}
.links a{
    font-size: 1.5rem;
    color:  rgb(41, 151, 255);
    padding: 0 20px;
    text-decoration: none;
}
.macmini{
    background-image: url(macmini.jpg);
}
.Homepod{
    background-image: url(pod.jpg);
}
/* !Box */
.grid{
    padding: 10px 15px;
}
.grid_1{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.iphone_14_pro,.iphone_14{
    background-image: url(14pro.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}
.iphone_14_pro h1{
    font-size: 2rem;
    color: #fff;
    margin: 5px 0;
}
.iphone_14_pro p{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 20px;
}
.iphone_14_pro span{
    color:  #b0b0c16f;
    margin: 20px 0;
    padding: 6px 8px;
    background-color: transparent;
    border: 1px solid  #b0b0c16f;
    border-radius: 30px;
}
.link_{
    margin: 20px;
}
.link_ a{
    padding: 0 10px;
    font-size: 1.1rem;
    color:  rgb(41, 151, 255);
    text-decoration: none;
}
.iphone_14{
    background-image: url(14.jpg);
}
.iphone_14 h1{
    font-size: 2rem;
    color: #000;
    margin: 5px 0;
}
.iphone_14 p{
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 20px;
}
.iphone_14 span{
    color:  #3f3f42c6;
    margin: 20px 0;
    padding: 6px 8px;
    background-color: transparent;
    border: 1px solid  #3f3f42c6;
    border-radius: 30px;
}
.apple_watch{
    background-image: url(applewatch.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}
.apple_watch h1,
.series8 h1{
    font-size: 2.1rem;
    color: #fff;
    padding: 0 20%;
    line-height: 2.5rem;
}
.apple_watch h5{
    color: #fff;
    font-size: 1.2rem;
    padding: 0 20%
}
.series8{
    background-image: url(series8.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 20px 0;
}
.series8 i{
    color: #fff;
}
.series8 p{
    color: red;
    letter-spacing: 1.5px;
    margin: 10px;
}
.series8 span{
    color: #fff;
    font-size: 1.2rem;
    margin: 10px;
}
/* !footer */
footer{
    padding: 20px 100px;
    background-color: #f5f5f7;
    margin: 20px 0;
}
footer p{
    font-size: 12px;
    color:  #6c6c6e;
}
.footer_list{
}
.footer_list a{
    text-decoration: none;
}
/* !media */
@media only screen and (max-width: 800px) {
    .none{
        display: none;
    }
    .ham{
        display: block;
    }
    nav{
        padding: 15px 30px
    }
    header nav ul{
        justify-content: space-between;
    }
    header nav ul li a{
        font-size: 20px;
    }
    .main{
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main h1 a {
    font-size: 2rem;
    }
    .main p {
        font-size: 1.3rem;
        padding: 0 15px;
    }
    .links{
        width: 100%;
    }
    .links a{
        padding: 8px;
        font-size: 1.1rem;
    }
    .grid{
        padding: 0;
    }
    .grid_1{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .iphone_14_pro, .iphone_14, .apple_watch, .series8{
        height: 70vh;
    }
    .series8{
        padding: 50px
    }
    footer{
        padding: 15px;
    }
  }